body {
    width: 100%;
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "Cuprum", "Arial", sans-serif;
    /* font-family: 'PT Sans', Arial, sans-serif; */
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
    text-transform: uppercase;
    
    background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}
    
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 940px;
    margin: auto;
}

header {
    background-image: url(../img/bg-grey.jpg);
}

/*=============================== header ============================*/

/*=============================== header-top ===============================*/

.header-top {
    background-color: #293449;
    margin-bottom: 49px;
}

.header-top-wrap {
    position: relative;

    display: flex;
}

.logo a {
    display: inline-block;
    width: 220px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.logo a::before {
    content: "ТЕХНОМАРТ";

    position: absolute;
    top: 0;
    left: 0;

    width: 220px;
    padding: 9px 0;
    padding-bottom: 8px;

    text-align: center;
    text-transform: uppercase;

    background-color: #ee3643;
    border-top: 1px solid #bf2d38;
    border-bottom: 5px solid #b52933;
}

.logo a:hover::before,
.logo a:focus::before {
    background-color: #ca2c37;
    border-top: 1px solid #e03643;
    border-bottom: 5px solid #9a212a;
}

.logo a:active::before {
    background-color: #ba2732;
    border-top: 1px solid #b02834;
    border-bottom: 5px solid #8e1e26;
}

.header-top-wrap form {
    position: relative;
    
    width: 571px;
    margin: 0;
    padding: 0;
}

.header-top-wrap input {
    box-sizing: border-box;
    width: 100%;
    
    margin: 0;
    padding: 0;
    padding-left: 49px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
    border: none;   
}

.header-top-wrap input::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.header-top-wrap label::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;

    width: 17px;
    height: 17px;

    background-image: url(../img/icon-search.svg);

    opacity: 0.3;
    cursor: pointer;
}

.header-top-wrap input:hover + label::before {
    opacity: 1;
}

.header-top-wrap input:active + label::before,
.header-top-wrap input:focus + label::before {
    background-image: url(../img/icon-search-active.svg);

    opacity: 1;
}

.header-top-wrap input:hover {
    background-color: #212a3a;
}

.header-top-wrap input:active,
.header-top-wrap input:focus {
    color: #000000;

    background-color: #ffffff;

    outline: none;
}

.header-top-user-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.basket {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.basket a {
    position: relative;

    display: inline-block;
    padding: 12px 0;
    padding-left: 44px;
    padding-right: 31px;

    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    text-transform: none;
    color: #ffffff;
}

.basket li:first-child a::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;

    width: 14px;
    height: 16px;

    background-image: url(../img/icon-bookmark.svg);

    opacity: 0.3;
    cursor: pointer;
}

.basket li:last-child a::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 14px;

    width: 15px;
    height: 15px;

    background-image: url(../img/cart-icon.svg);

    opacity: 0.3;
    cursor: pointer;
}

.basket a span {
    padding-left: 5px;
}

.basket a:hover {
    background-color: #212a3a;
}

.basket a:active,
.basket a:focus {
    background-color: #161d29;

    outline: none;
}

.basket li:first-child a:hover::before,
.basket li:last-child a:hover::before {
    opacity: 1;
}

.basket li:first-child a:active:before,
.basket li:first-child a:focus:before,
.basket li:last-child a:active::before,
.basket li:last-child a:focus::before {
    opacity: 0.5;
}

.header-top-button {
    display: inline-block;
    width: 150px;
    padding: 11px 0;

    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    color: #ffffff;

    background-color: #63a63e;
}

.header-top-button:hover {
    background-color: #5fbb2d;
}

.header-top-button:active,
.header-top-button:focus {
    color: #a6bd9c;

    background-color: #518534;

    outline: none;

   
}

/*=============================== header-offer ===============================*/

.header-offer .container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 39px;
}

.header-offer h1 {
    box-sizing: border-box;
    width: 300px;
    margin: 0;
    padding: 0;
    padding-left: 53px;
    padding-right: 25px;

    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-family: 400i;
    text-transform: none;
    color: #ee3643;
}


.contact {
    box-sizing: border-box;
    width: 300px;
    margin: 0;
    padding: 0;
}

.contact-telephone {
    position: relative;

    display: block;
    margin: 0;
    margin-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 71px;


    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: #ee3643;

    border: 3px solid #ffffff;
}

.contact-telephone:focus,
.contact-telephone:active {
    border-color: #ee3643;

    outline: none;
}

.contact-telephone::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;

    width: 19px;
    height: 19px;

    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}


.contact-address {
    margin: 0;
    padding: 0;
    padding-left: 9px;
    padding-top: 5px;

    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    color: #32425c;
}

.header-offer-user {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.header-offer-user a {
    display: inline-block;
    padding: 10px 25px;

    font-size: 21px;
    line-height: 21px;
    text-transform: none;
    text-decoration: none;
    color: #000000;

    background-color: #ffffff;
}

.header-offer-user li:first-child a {
    position: relative;

    margin-right: 10px;
    padding-left: 48px;
}

.header-offer-user li:first-child a::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 15px;

    width: 20px;
    height: 17px;

    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.header-offer-user li:first-child a:hover::before {
    opacity: 1;
}

.header-offer-user li:first-child a:focus::before,
.header-offer-user li:first-child a:active::before {
    opacity: 0.3;
}

.header-offer-user a:hover {
    color: #ee3643;
}

.header-offer-user a:focus,
.header-offer-user a:active {
    color: #cacaca;

    outline: none;
}



/*=============================== nav ===============================*/

.navigation {
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.navigation .container {
    border-bottom: 5px solid #293449;
    background-color: #32425c;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-navigation a {
    display: inline-block;
    padding: 19px 30px;

    font-size: 17px;
    line-height: 17px;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
}

.main-navigation-current a {
    padding-left: 53px;

    background-color: #293449;

    cursor: default;
}

.main-navigation li:last-child a {
    padding-right: 55px;
}

.main-navigation a:hover {
    background-color: #293449;
}

.main-navigation a:focus,
.main-navigation a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;

    outline: none;
}


/*=========================== main ==========================================*/


/*=================================== category ======================================*/

.category {
    margin-bottom: 32px;
}

.category-lyst {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.category-top .category-lyst li:nth-child(1) {
    background-color: #ffbf47;
}

.category-top .category-lyst li:nth-child(2) {
    background-color: #3bbce3;
}

.category-top .category-lyst li:nth-child(3) {
    margin-right: 0;

    background-color: #dc91d8;
}

.category-item {
    position: relative;

    box-sizing: border-box;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.category-item-wrap {
    width: 135px;
    margin-left: 23px;

}

.category-item h3 {
    margin: 0;
    margin-top: 20px;
   
    padding: 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
}

.category-item a {
    box-sizing: border-box;
    display: inline-block;
    padding-top: 12px;
    padding-left: 25px;
    padding-bottom: 9px;
    margin-top: 11px;
    margin-bottom: 23px;
    
    width: 100%;

    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;

    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.category-item a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.category-item a:focus,
.category-item a:active {
    background: rgba(0, 0, 0, 0.3);

    outline: none;
}

.category-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.category-aside .category-lyst {
    display: flex;
    flex-direction: column;
}

.category-bottom .category-lyst li {
    margin-right: 0;
}

.category-bottom .category-lyst li:nth-child(1) {
    background-color: #8ed78f;
}

.category-bottom .category-lyst li:nth-child(2) {
    background-color: #ff8447;
}


.category-top .category-lyst li:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 42px;

    width: 44px;
    height: 65px;

    background-image: url(../img/materials.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.category-top .category-lyst li:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;

    width: 60px;
    height: 59px;

    background-image: url(../img/new-line.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.category-top .category-lyst li:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 28px;

    width: 75px;
    height: 61px;

    background-image: url(../img/instrument.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.category-top .category-lyst li:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;

    width: 78px;
    height: 62px;

    background-image: url(../img/tehnika.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.category-bottom .category-lyst li:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 44px;

    width: 59px;
    height: 72px;

    background-image: url(../img/skidki.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.category-bottom .category-lyst li:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;

    width: 78px;
    height: 63px;

    background-image: url(../img/delivery.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}


/*=========================== slider ===================================*/


.slider {
    position: relative;

    display: flex;
    height: 266px;
}

.category-slider {
    position: relative;

    width: 620px;
    min-height: 266px;
}

.category-slider h3 {
    margin: 0;
    margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 4px;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.category-slider p {
    margin: 0;
    margin-left: 23px;
    margin-bottom: 120px;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
}

.main-slider-button {
    display: inline-block;
    margin-left: 25px;
    padding: 10px 45px;

    text-decoration: none;
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 3px;
}

.category-slider-first {
    background-color: rgb(144, 128, 98);
    background-image: url(../img/first-slide.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.category-slider-second {
    background-color: rgb(144, 128, 98);
    background-image: url(../img/second-slide.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-slider-button:hover {
    background-color: #ca2c37;
}

.main-slider-button:focus,
.main-slider-button:active {
    background-color: #ba2732;

    outline: none;
}

.slider-control-back {
    position: absolute;
    top: 114px;
    left: 25px;

    width: 22px;
    height: 40px; 

    background-color: transparent;
    border: none;

    outline: none;
    cursor: pointer;
}

.slider-control-next {
    position: absolute;
    top: 114px;
    right: 22px;

    width: 22px;
    height: 40px; 

    background-color: transparent;
    border: none;

    outline: none;
    cursor: pointer;
}

.slider-control-back::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -5px;

    width: 29px;
    height: 3px;

    background-color: #ffffff;
    transform: rotate(45deg);

    cursor: pointer;
}

.slider-control-back::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -5px;

    width: 29px;
    height: 3px;

    background-color: #ffffff;
    transform: rotate(-45deg);

    cursor: pointer;
}

.slider-control-next::before {
    content: "";
    position: absolute;
    top: 7px;
    right: -5px;

    width: 29px;
    height: 3px;

    background-color: #ffffff;
    transform: rotate(45deg);

    cursor: pointer;
}

.slider-control-next::after {
    content: "";
    position: absolute;
    top: 26px;
    right: -5px;

    width: 29px;
    height: 3px;

    background-color: #ffffff;
    transform: rotate(-45deg);

    cursor: pointer;
}

.slider-control-next:hover::before,
.slider-control-next:hover::after,
.slider-control-back:hover::before,
.slider-control-back:hover::after {
    opacity: 0.5;
}

.slider-control-next:active::before,
.slider-control-next:active::after,
.slider-control-next:focus::before,
.slider-control-next:focus::after,
.slider-control-back:active::before,
.slider-control-back:active::after,
.slider-control-back:focus::before,
.slider-control-back:focus::after {
    opacity: 0.2;
}

.slide-on {
    display: block;
  }
  
  .slide-off {
    display: none;
  }

  /*=================================== promo ===============================*/

.promo-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;

    background-color: #f9f5f0;
}

.promo-title h2 {
    margin-top: 30px;
    margin-left: 28px;
    margin-bottom: 28px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.promo-title a {
    display: inline-block;
    width: 255px;
    margin: 25px;
    padding: 10px 0px;

    text-decoration: none;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 3px;
}

.promo-title a:hover {
    background-color: #ca2c37;
}

.promo-title a:focus,
.promo-title a:active {
    background-color: #ba2732;

    outline: none;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.promo-products-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    list-style: none;
}

.promo-products-list li:last-child {
    margin-right: 0;
}

.promo-products-item {
    position: relative;
    
    width: 220px;
    margin-right: 20px;

    border: 1px solid #eaeaea;
}

.promo-products-item-bosch {
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    min-height: 175px;

    line-height: 175px;
    text-align: center;
}

.promo-products-item-bosch img {
    vertical-align: middle;
}

.promo-product-button {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    flex-direction: column;
    width: 100%;

    background-color: #ffffff;
}

.promo-product-button a {
    position: relative;

    display: inline-block;
    margin: 45px 42px 10px 42px;
    padding-top: 12px;
    padding-bottom: 10px;

    text-decoration: none;
    text-align: center;
    color: #ffffff;

    background-color: #63a63e;
    border-bottom: 3px solid #367315;
    border-radius: 3px;
}

.promo-product-button a::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 15px;

    width: 15px;
    height: 15px;

    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.promo-product-button a:hover {
    background-color: #5fbb2d;
}

.promo-product-button a:focus,
.promo-product-button a:active {
    padding-bottom: 13px;

    background-color: #518534;
    border-bottom: none;

    outline: none;
}

.promo-product-button a:hover::before,
.promo-product-button a:focus::before,
.promo-product-button a:active::before {
    opacity: 1;
}

.promo-product-button button {
    margin: 0px 42px 35px 42px;
    padding: 10px 0;

    font: inherit;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #32425c;

    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius: 3px;

    cursor: pointer;
}

.promo-product-button button:hover {
    border-color: #32425c;
}

.promo-product-button button:focus,
.promo-product-button button:active {
    border-color: #32425c;

    opacity: 0.3;
    outline: none;
}

.promo-products-item h3 {
    margin: 0;
    margin-left: 2px;
    margin-bottom: 12px;
    padding: 0;
    
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: none;
    text-align: center;
    color: #000000;
  }

.promo-products-item-price {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    text-align: center;
}

.promo-products-item-price .discount {
    margin-bottom: 9px;

    font-family: "PT Sans";
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #a9a9a9;
    }

.promo-products-item-price .price {
    position: relative;

    width: 86px;
    margin-left: 42px;
    margin-bottom: 20px;
    padding: 10px 0px;
    padding-left: 27px;
    padding-right: 8px;

    font-family: "PT Sans";
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 3px;

    z-index: 10;
}

.promo-products-item-price .price::before {
    content: "";
    position: absolute;
    left: 107px;
    top: 6px;

    width: 27px;
    height: 26px;
  
    background-color: #ee3643;

    transform: rotate(45deg);
}

.promo-products-list li:last-child .price {
    margin-top: 18px;
}

.promo-products-list li:last-child::after {
    content: "";

    position: absolute;
    top: 0px;
    right: 0px;

    width: 60px;
    height: 59px;

    background-image: url(../img/new-line.png);
    background-repeat: no-repeat;
    background-position: 0 0; 
} 

.promo-products-item:hover {
    box-shadow: 0px 0px 20px 3px rgba(41,52,73,0.3);
}

.promo-products-item:hover .promo-product-button {
    display: flex;
}
      

  
/*======================================= promo-partners ======================================*/
  
.promo-partners-list{
    display: flex;
    
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;

    list-style: none;
}

.promo-partners-list li {
    box-sizing: border-box;
    width: 220px; 
    margin-right: 20px;
    margin-bottom: 20px;

    border: 1px solid #eaeaea;
}

.promo-partners-list li:nth-child(4n) {
    margin-right: 0;
}

.promo-partners-list a {
    position: relative;

    display: block;
    height: 145px;
}

.promo-partners-list img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

.promo-partners-list a:hover,
.promo-partners-list a:focus {
    box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5);

    outline: none;
}

.promo-partners-list a:active {
    box-shadow: 0 4px 10px 0 rgba(41,52,73,0.5);

    opacity: 0.3;
}


/*========================================== service ======================================*/


.service {
    background-image: url(../img/bg-grey.jpg);
}

.service h1 {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
    padding-top: 67px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}

.service p {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    color: #000000;
}

.service-slider {
    display: flex;
}

.service-list {
    position: relative;

    margin: 0;
    margin-top: 45px;
    margin-bottom: 103px;
    padding: 0;

    list-style: none;
}

.service-list::after {
    content: "";

    position: absolute;
    top: -25%;
    right: 0px;
    
    width: 10px;
    height: 279px;

    background-image: url(../img/service-shadow.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-item button {
    width: 240px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 21px;

    font: inherit;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;

    background-color: #32425c;
    border: none;
    border-bottom: 1px solid #4d637b ;

    cursor: pointer;
}

.service-item button:hover {
    background-color: #293449;
}

.service-item button:focus {
    background-color: #293449;

    outline: none;
}

.service-item li button:last-child {
    border-bottom: none;
}

.service-item .active-button,
.service-item .active-button:hover,
.service-item .active-button:focus {
    color: #32425c;

    background-color: #ffffff;
    border-bottom: none;

    outline: none;
}

.service-features {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin-left: 80px;
}


.service-slide-on {
    display: block;
}

.service-slide-off {
    display: none;
}

.service-features h2 {
    margin: 0;
    margin-top: 45px;
    margin-bottom: 25px;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.service-features p {
    position: relative;

    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    color: #000000;
}

.service-credit p {
    margin-bottom: 20px;
}

.service-credit button {
    display: inline-block;
    margin: 0;
    padding: 10px 45px;

    font: inherit;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;

    cursor: pointer;
}

.service-credit button:hover {
    background-color: #ca2c37;
}

.service-credit button:focus,
.service-credit button:active {
    background-color: #ba2732;

    outline: none;
}

.service-delivery p::after {
    content: "";

    position: absolute;
    top: -37px;
    right: 1px;

    width: 468px;
    height: 261px;

    background-image: url(../img/service-delivery.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-guarantee p::after {
    content: "";

    position: absolute;
    top: -57px;
    right: -75px;

    width: 468px;
    height: 261px;

    background-image: url(../img/service-guarantee.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-credit p::after {
    content: "";

    position: absolute;
    top: -57px;
    right: -40px;

    width: 468px;
    height: 261px;

    background-image: url(../img/service-credit.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
